mat-toolbar{
    width: 100vw;
    height: 56px;
}
.header-tools{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 58px;
}
.toolbar-content{
    padding: 0px;
    display: flex;
    width: 100%;
}
.example-spacer{
    flex: 1 1 auto;
}
mat-toolbar mat-toolbar-row{
    display: flex;
    height: 56px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DFE3EB;
    opacity: 1;
    padding-left: 0px;
    width: 100%;
}
mat-toolbar mat-toolbar-row #dashboard-title{
    width: 108px;
    height: 25px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.01px;
    color: #42454E;
    text-transform: capitalize;
    opacity: 1;
    font-family: "Plus Jakarta Sans",sans-serif;
    margin-top: 16px;
    margin-bottom: 15px;
    margin-left: 94px;
}
mat-toolbar mat-toolbar-row #jspl{
    font-size: 14px;
    font-weight: 500;
    width: 34px;
    height: 17px;
    text-align: left;
    letter-spacing: 0px;
    color: #131722;
    text-transform: uppercase;
    opacity: 1;
}
button{
    width: 166px;
    height: 35px;
    background: #F0F3F9 0% 0% no-repeat padding-box;
    opacity: 1;

}
.vertical-line1,.vertical-line2{
    width: 0px;
    height: 20px;
    border: 1px solid #DFE3EB;
    opacity: 1;
}
.toolbar-content .man-icon{
    width: 40px;
    height: 40px;
    opacity: 1;
    margin-right: 23px;
}
.custom-mat{
    height: 35px;
    background: #F0F3F9 0% 0% no-repeat padding-box;
    opacity: 1;
}
mat-form-field{
    width: 180px;
    height: 35px;
    background: #F0F3F9 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
}