<mat-toolbar>
    <mat-toolbar-row>
        <div class="toolbar-content">
            <span id="dashboard-title">Dashboard</span>
            <span class="example-spacer"></span>
            <div class="header-tools">
                <span id="jspl">JSPL</span>
                <mat-form-field class="custom-mat">
                    <mat-select class="mat-select-panel">
                    </mat-select>
                </mat-form-field>
                <div class="vertical-line1"></div>
                <img class="notification-icon"  src="../assets/notification.svg" alt="">
                <div class="vertical-line2"></div>
                <img class="man-icon" src="../assets/man.png" alt="">
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>